@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.style-script-regular {
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-size: 4.8rem;
    font-style: italic;
}

.background {
    background: rgb(17, 17, 17);
}

.text-white {
    color: rgb(255, 255, 255);
}

.text-light-gray {
    color: rgba(255, 255, 255, 0.5);
}

.title {
    font-size: 3rem;
    font-weight: 700;
}

.header {
    background: linear-gradient(0.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0.2) 100%);
    padding-bottom: 60px;
}

.display-flex {
    display: flex;
}

.brand {
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 2.2rem;
    font-style: italic;
}

.nav-bar {
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-item {
    list-style: none;
    margin-left: 47px;

}

.nav-links {
    border: 1px solid rgba(255, 255, 255, 0.1);
    align-items: center;
    border-radius: 39px;
    width: 430px;
    height: 40px;
    padding: 4px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-left: -45px;
    margin-right: 45px;
}

.menu {
    display: none;
}

.home-deco {
    width: 92px;
    height: 38px;
    padding: 8px 20px 8px 20px;
    border-radius: 45px;
    background-color: rgb(230, 83, 60);
}

.banner {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}


.banner-title {
    font-weight: 900;
    font-size: 4.8rem;
}


.button {
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
}

.btn-primary {
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    color: white;
    font-size: 1.2rem;
}

.btn-secondary {
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    background: transparent;
    color: white;
    font-size: 1.2rem;
}

.card-over-img1 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 190px;
    height: 90px;
    line-height: 0;
    padding: 17px 23px 16px 24px;
    margin-bottom: -200px;
    margin-left: 200px;
}

.red-circle {
    border-radius: 45px;
    background: rgb(230, 83, 60);
    width: 40px;
    height: 40px;
}

.card-over-img2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 206px;
    height: 96px;
    line-height: 0;
    margin-left: -100px;
    margin-top: -150px;
}

.habit-section {
    max-width: 1200px;
    margin: 100px auto;
}

.habit-title {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.1;
}

.habit-image-card {
    margin-top: 100px;
}

.image-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    text-align: center;

}

.image-card>img {
    border-radius: 90px;
    border: 1px solid white;
}

.run-section {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 2rem;
}

.run-image {
    width: 60%;
    height: 312px;
    background-image: url("../images/run.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid white;
    border-radius: 1rem;
}


.bmi-title {
    max-width: 1200px;
    margin: 100px auto;
}

.bmi-calculator {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    gap: 100px;
}

table {
    width: 410px;
    height: 216px;
    text-align: left;
}

table,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 10px;
}



.bmi-input>form>input {
    width: 282.5px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    margin-left: 1px;
    margin-bottom: 10PX;
    border: none;
    padding-left: 20px;
}

#row-span {
    width: 595px;
}

form>button {
    margin-top: 20px;
}

#bmi-background {
    background: rgb(34, 34, 34);
    height: 400px;

}

.team-section {
    max-width: 1200px;
    margin: 0 auto;
}

.team-part {
    text-align: center;
}

.team-photo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 18px;
    padding-top: 20px; 
    padding-left: 30px;
}

.team-photo> div >img {
    width: 326.67px;
    height: 272px;
    border-radius: 18px;
    margin: 20px;
    
}

.trainer-name{
    margin-top: -115px;
    margin-left: 35px;
}




/* responsive media query */

@media screen and (max-width: 576px) {
    .nav-item {
        display: none;
    }

    .nav-links {
        border: none;
    }

    .brand {
        margin-right: 300px;
    }

    .menu {
        display: contents;
        width: 24px;
        height: 24px;
    }

    .banner {
        flex-direction: column;
    }

    .banner-image {
        margin-top: 100px;
        margin-left: 100px;
    }

    .habit-section {
        flex-direction: column;

    }

    .habit-title {
        line-height: 2;
        text-align: center;
    }

    .habit-image-card {
        flex-direction: column;
    }

    .run-section {
        flex-direction: column;
    }

    .run-image {
        margin-top: 50px;
        width: 100%;
    }


    .bmi-calculator {
        flex-direction: column;
    }

    #bmi-background {
        height: auto;
    }

    .bmi-input>form {
        display: flex;
        flex-direction: column;
    }

    #row-span {
        width: 285px;
    }

    .team-photo{
        grid-template-columns: repeat(1, 1fr);
    }

    .team-photo> div >img {
        width: 450px;
        height: 272px;
        border-radius: 18px;
        margin: 20px;
        
    }
}